.noteCard {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin: 2.5rem 0;
  padding: 0.2rem 3rem;
  cursor: pointer;
}

.noteCard:hover {
  background-color: lightgray;
}

.noteInitials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  color: whitesmoke;
}

.noteInitials > h1 {
  text-align: center;
}

.noteName {
  text-align: left;
  margin-left: 3rem;
}

.noteName > h1 {
  font-size: 1.5rem;
}
