.pocketContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header {
  text-align: center;
}

.header > h1 {
  margin-bottom: 1rem;
}

.header > p {
  margin-bottom: 0.2rem;
}

footer {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -9.5rem;
  transform: translateX(-50%);
}

footer > p {
  margin-left: 0.5rem;
}

@media (max-width: 428px) {
  .pocketContainer {
    display: none;
  }
}
